<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Pazilla - {{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1><img src="/images/pazilla-tortoise.gif" height="70" width="65" /><a href="/">Pazilla</a></h1>
          <h2>{{ page.title }}</h2>
        </header>
        <section id="nav" class="clearfix">
          <a href="/donate" id="link-donate" class="button"><span>Donate</span></a>
          <a href="/about.html" id="link-about" class="button"><span>About</span></a>
        </section>

        <hr>

        <section id="main_content">
{{ content }}
        </section>

<section id="begin_footer">

<p>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
<br />
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pazilla Guides</span>
by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.pazilla.com" property="cc:attributionName" 
      rel="cc:attributionURL">Pazilla, Inc.</a> and other content here
is licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
Creative Commons Attribution-ShareAlike 3.0 Unported License</a> unless otherwise noted.<br />
Permissions beyond the scope of this license may be available at 
<a xmlns:cc="http://creativecommons.org/ns#" href="http://www.pazilla.com" rel="cc:morePermissions">
http://www.pazilla.com</a>.
</p>

  
</section>
        <section id="downloads" class="clearfix">
          <p>
          You can create your own fork of these pages to customize this content for yourself! Simply click
          "View on Github" and start editing files with the Edit button.
          You can also submit a merge request with useful changes to be placed into the main website.
          </p>
          <a href="https://github.com/pazilla/pazilla.github.io/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/pazilla/pazilla.github.io/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/pazilla/pazilla.github.io" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>


        <footer>
          Pazilla Guides is maintained by <a href="https://github.com/pazilla">pazilla</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>
